#container{
	width: 1800px;
	height: auto;
}
#roles{
	width: 150px;
	height: auto;
	float: left;
	border: 1px solid black;
	margin-left: 30px;
}
#employees{
	width: 150px;
	height: auto;
	float: left;
	border: 1px solid black;
	margin-left: 250px;
	position: fixed;
}
#todos{
	width: 700px;
	height: auto;
	float: left;
	border: 1px solid black;
	margin-left: 300px;
}

h1{
	font-size: 20px;
	text-align:center;
	text-decoration:underline;
	border-width:3px;
	font-weight:bold;
}
li{
	list-style-type: none;
}
h2{
	text-align:center;
	font-size: 14px;
	text-decoration:underline;
}
#ror, #android, #jsu, #ios{
	width: 147px;
	min-height:40px;
	overflow: hidden;
	border: 2px solid black;
}
.inrole
{
	border: 1px solid black;
	height:auto;
	text-align: center;
}
.left
{
float : left;
text-align:right;	
width:50px;
}
img{
	display: none;
}
img:hover{
	cursor: pointer;
}
.todo_list{
	border: 1px solid black;
	min-height: 40px;
}
.todo_list img{
	display: inline;
	vertical-align: top;
	float: right;
}

.emp_name
{
float:left;
text-align:center;
width:80px;
font-size:14px;
min-height:10px;
padding:10px;
margin:5px;
border:2px solid grey;
font-weight:bold;
}
.emp_todo
{
font-weight:bold;
text-align:center;
width:550px;
font-size:14px;
min-height:50px;
padding:10px;
margin:5px;
margin-left:115px;
border-color:#adacac;
border:2px solid #adacac;
}